ul.pagination{
    background-color: #555555;
    text-align: center;
    padding: 10px 15px;
    margin-left: 0;
    width:100%;
    display: block;
    border-radius: 0;
}
ul.pagination li{
    display:inline-block;
    font-size: 1.1rem;
}
ul.pagination li a{
    color: white;
    padding: 4px 10px;
    border-right: 1px solid #ffffff;
}
ul.pagination li a.arrows{
    border: none;
}
ul.pagination li.active a , ul.pagination li a:hover{
    font-weight: bold;
    text-decoration: underline;
}
ul.pagination li.disabled a{
    color: #9c9c9c;
    text-decoration: none !important;
    cursor: default;
}
ul.pagination li.item:nth-last-child(3) a{
    border: none;
}

